# === .NET ===
bin/
obj/
*.user
*.suo
*.swp
.vs/
*.db-shm
*.db-wal
*.db

# Config files
appsettings.*.json
!.appsettings.Development.json

# === Entity Framework Migrations Cache ===
Migrations/

# === Logs ===
*.log
logs/
LogFiles/
*.pid

# React frontend
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.*
frontend/.eslintcache


# === System ===
.DS_Store
Thumbs.db
desktop.ini

# === IDE ===
.vscode/
.idea/
